snippet log "console.log()"
console.log(${VISUAL}$0);
endsnippet

snippet logs "console.log('')"
console.log(${VISUAL}'$0');
endsnippet

snippet for "for (...) {...}" !
for (let ${2:i}=0; $2 < ${1:list}.length; $2++) {
    ${3:$1[$2]}${VISUAL}$0
};
endsnippet

snippet fn "function"
${1:const }${2:name} = function (${3:object}) {
    $0
};
endsnippet

snippet stack "show an error with the call stack"
console.log(new Error().stack);
endsnippet
